@page
@model CertTester.Pages.EmptyModel
@{
    ViewData["Title"] = "Empty Page";
}

<div>
    <h1 class="display-4">Hello World!</h1>
    </br>
    <p><sub>This space intentionally left blank.</sub></p>
    <p><i><sub>v4</sub></i></p>
</div>