@page
@model CertTester.Pages.EmptyModel
@{
}

<div>
    <h1 class="display-4">Hello World!</h1>
    </br>
    <p><i><sub>Target Mock: @ViewData["TestURI"]</sub></i></p>
    <p><i><sub>v3</sub></i></p>
</div>